[!experiment]
@experiment_control_interface=letce0

[host:experiment]
__template.path=../templates/host:../templates/common
@bridge.0.name=%(@experiment_control_interface)s
@bridge.0.ipv4=10.50.1.100/24
__template.file.100=bridge
__template.file.101=control
__template.file.102=start.local
__template.file.103=otestpoint-broker.xml
__template.file.104=stop.local
__template.file.105=functions
__template.file.106=scenario.eel
__template.file.107=eelgenerator.xml
__template.file.108=eventservice.xml
__template.file.109=prestart.local

[!common:experiment]
+@lxc.interface.0.link=%(@experiment_control_interface)s
+@lxc.interface.0.ipv4=%(@control_ip_addr)s
+@lxc.interface.0.name=%(@control_interface)s
@control_interface=backchan0
__template.file.001=lxc.conf
__template.file.002=lxc.hook.autodev.sh
+@control_ip_addr=10.50.1.%(@id)s/24

# [!rfpipe-with-lan:rfpipe]
# Add a lan link to these nodes?
# Would act as the pfSense VM injection point
[!rfpipe-node:rfpipe]


# These may inheret rfpipe-with-lan instead
[rfpipe-01:rfpipe-node]
@id=1

[rfpipe-02:rfpipe-node]
@id=2
